<!DOCTYPE html>
<html>
  <% include partials/head %>
  <% include partials/nav %>
  <body class="homeUser">
    <div class="container">
      <% if (Parse.User.current()) { %>
        <a href="/logout" class="pull-right btn btn-sm btn-danger">Logout</a>
        <div class="pull-right" id="welcome-message">Welcome <%= currUser %></div>
      <% } else { %>
        <a href="/login" class="pull-right btn btn-sm btn-success">Login/Signup</a>
      <% } %>
      <p><%= message %></p>
      
  <div id="content">
    <% parts.forEach(function(part){ 
        var currPart = part.get("name"); 
        var objID = part.id;
        var likes = part.get("likes");
        var dislikes = part.get("dislikes");
        var totalLikes = likes + dislikes;
        var approvalPercentage = Math.round((likes / totalLikes) * 100);
        if (isNaN(approvalPercentage)){
          approvalPercentage = 0;
        } 
    %>
      <span><%= currPart %></span>
        <form action="/voteup/<%= objID %>" method="post">
          <input class="btn btn-xs btn-success" type="submit" value="vote up">
        </form>
        <form action="/votedown/<%= objID %>" method="post">
          <input class="btn btn-xs btn-danger" type="submit" value="vote down">
        </form>
      <% if (totalLikes < 5){ %>
      <span>Need <%= 5 - totalLikes %> more votes to calculate approval</span>
      <% } else { %>
      <span><%= approvalPercentage %>% approval</span>
      <% } %>
    <br>
    <% }) %><!-- end forEach loop -->
    
    </div>  
      
      
      
    </div><!-- end container -->
     
       
    <% include partials/footer %>
  </body>
</html>