<!DOCTYPE html>
<html>
  <% include partials/head %>
  <% include partials/nav %>
  <body class="homeAdmin">
    <div class="container">
        <a href="/logout" class="pull-right btn btn-sm btn-danger">Logout</a>
        <span class="pull-right" id="welcome-message">Welcome, <%= currUser %></span>
      <p><%= message %></p>
    </div><!-- end container -->
     
      <div class="container">
  <div id="addPartsContainer">
    <h3 class="text-center">Add Parts</h3>
    <form class="text-center" method="post" action="/addpart">
      <label>Add Part</label>
      <input name="part" id="partInput"></input>
      <input class="button" type="submit" value="Add">
    </form>
  </div>
  
  <div id="content">
    <% parts.forEach(function(part){ 
        var currPart = part.get("name"); 
        var objID = part.id;
        var likes = part.get("likes");
        var dislikes = part.get("dislikes");
        var totalLikes = likes + dislikes;
        var approvalPercentage = Math.round((likes / totalLikes) *100);
        if (isNaN(approvalPercentage)){
          approvalPercentage = 0;
        } 
    %>
    <form action="/deletepart/<%= objID %>" method="post">
      <label><%= currPart %></label>
      <label><small style="color:#ff7474"><%= approvalPercentage %>% approval</small></label>
      <input type='hidden' name='_method' value='delete'>
      <input class="btn btn-xs btn-danger pull-right" type="submit" value="Delete">
    </form>
    <% }) %><!-- end forEach loop -->
    
    </div>
    <div id="test"></div>
  </div><!-- end container -->
       
    <% include partials/footer %>
  <script>
    $(function(){
      $('#partInput').focus();
    });
  
  </script>
  </body>
</html>